

.articles-forest{

  .titres{
    display: none;

  }

  p{
    color:$black;
    padding:0 10px;

  }



  h1{
    text-align: center;
    font-weight:bold;
  }

  .overlay{
    align-items: center;

    cursor: pointer;


    z-index:9999999;
    position: absolute;
    top:0;

    width:100%;
    height:100%;

    background-color: $black;
    opacity: 0;
    transition: opacity 0.5s;

    &:hover{
      opacity: 0.8;

    }

    h3{
      color: white;
      text-align: center;

    }

  }

  .categories{

    display: flex;
    flex-direction: column;

    article{
      position: relative;

    }

    img{
      position: relative;
      display: block;
      margin:20px auto;


    }

    h2{
      text-align: center;

    }



  }

}

@media screen and (min-width: $breakpoint-md){

  .articles-forest{

    .titres{
    display: flex;
    justify-content: space-around;
      //margin: 0 auto
  }
    .categories{
      display:flex;
      flex-direction: row;

      h2{
        display: none;
      }




      .sectionFranc{
        display: flex;
        flex-direction:column;
        .grid{
          width:435px;
          display:flex;
          flex-direction: column;



        }
      }
      .sectionMou{
        display: flex;
        flex-direction:column;

        .grid{
          width:435px;
          display:flex;
          flex-direction: column;


        }
      }

    }


  }


  }


@media screen and (min-width: $breakpoint-lg){

  .articles-forest{

    .titres{
    display: none;
  }
    .categories{
      display:flex;
      flex-direction: column;

      h2{
        display: block;
        align-self: center;
      }




      .sectionFranc{
        display: flex;
        flex-direction:row;
        .grid{
          width:435px;



        }
      }
      .sectionMou{
        display: flex;
        flex-direction:row;

        .grid{
          width:435px;



        }
      }

    }


  }


}