footer {

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;

  background-color: $color-bg-light;


  width: 100%;

  p {
    color: grey;

  }

  .retour {

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    width: 40px;
    height: 40px;
    font-size: rem(18);

    border: 4px solid $black;
    border-radius: 50%;
  }
}
