

form.formulaire {
  background: rgba(156, 188, 44, 0.8);

  counter-reset: fieldsets;
  padding: 20px;
  width: 100%;
  margin: 50px auto;

  font-weight: bold;

}


/* séparation des fieldset */

form.formulaire fieldset {
  border: none;

  margin: 0 0 20px 0;
  padding: 0;

}

form.formulaire fieldset:last-of-type {
  margin-bottom: 0;
}


form.formulaire legend {
  color: #384313;
  font-size: 16px;
  font-weight: bold;

  padding-bottom: 10px;

}

form.formulaire ol {
  margin: 0;
  padding: 0;
}

form.formulaire ol li {
  background: rgba(255, 255, 255, .3);

  border: 2px solid rgba(255, 255, 255, .6);

  line-height: 30px;
  list-style: none;
  padding: 10px 10px;
  margin-bottom: 25px;

  display: flex;
  flex-direction: column;

  align-items: center;
  text-align: center;
}

form.formulaire ol ol li {
  background: none;
  border: none;
}

form.formulaire label {
  min-width: 150px;
}



form.formulaire input:not([type=radio]):not([type=checkbox]),
form.formulaire textarea {
  background: #ffffff;
  border: none;
  font: italic 13px Georgia, "Times New Roman", Times, serif;
  outline: none;
  padding: 5px;
  width: 200px;
}

form.formulaire input:not([type=submit]):focus,
form.formulaire textarea:focus {
  background: #eaeaea;
}

.loisir ol li{
  display: block;
}

form.formulaire input[type=checkbox] {
  margin-right: 5px;
  margin-top: 7px;
}



/* bouton d'envoie */

form.formulaire button {
  display: block;
  margin: auto;
  padding: 7px 25px;

  color: #ffffff;
  text-transform: uppercase;

  background: #384313;

  border: none;
}

form.formulaire button:hover {
  background: #1e2506;
  cursor: pointer;
}


input[type='range'] {
  vertical-align: middle;
  width: 200px;
}

@media screen and (min-width: $breakpoint-md){

  form.formulaire {
    width:580px;


  }

  form.formulaire ol li {
    display: flex;
    flex-direction: row;

    align-items: normal;
    text-align: left;

  }



}