//STYLE DE NOTRE HEADER

//STYLE DE NOTRE HEADER

.header-page {

  //------------STYLES POUR APARITION NAV----------------//
    .side-menu-open {
        display: flex;
    }

  //-----------------------------------------------------//


  background-color: $color-theme-fonce;
  .top{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;

    i{
      font-size:35px;
      padding:20px;
      color:$white;
    }


    div{
      display: flex;
      align-items: center;
      padding:20px;

      i{
        font-size:35px;
        color:$white;
        padding:5px;


      }
    }

  }



    nav{
      display:flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;



      padding:10px;

        h1{
          color:$white;

        }

        ul{
          display:none;
          flex-direction: column;
          list-style: none;
          padding:0;

          text-align: center;
          transition:height 0.5s;



            li{
              position:relative;

              &>ul{
                z-index: 300;
                position:absolute;

                display:none;

                width:100%;
                background-color: $color-theme-vert;
                color:$black;


                li{
                  width:100%;

                }

              }
              &:hover>ul{
                display:block;
                color:$black;


              }

            }

            a{
              padding:5px 10px;

              &:hover{
                background-color: $color-theme-vert;
                color:$black;


              }
            }
        }

    }



}

@media screen and (min-width:$breakpoint-md){

  .header-page {
    display:block;

    nav{

      .top{
        .fa-bars{
          display:none;
        }

      }

      flex-direction: row;

      ul{
        display:flex;
        flex-direction: row;

        li>ul{
          min-width:180px;

          position:absolute;
          z-index: 50;
          top:100%;


          }



        }

      }

    }



  }










