//FICHIER DE CONFIGURATION POUR LES VARIABLES DE LARGEUR/HAUTEUR

$max-width: 1000px;


/// Dimension pour les media query

$breakpoint-sm: 520px;
$breakpoint-md: 850px;
$breakpoint-lg: 1250px;
$breakpoint-xl: 1200px;


//Dimension pour formulaire
$base-input-height:                             36px ;
$base-input-border-size:                        1px ;
$base-input-border-radius:                      10px ;

